<po-page-edit
    p-title="Incluir Registros"
    [p-breadcrumb]="breadcrumb"
    [p-literals]="{ save: 'Salvar', saveNew: 'Salvar', cancel: 'Cancelar' }"
    (p-cancel)="cancelar()"
    (p-save-new)="salvar()">

    <po-loading-overlay 
        [hidden]="escondeTimer"
    ></po-loading-overlay>

    <po-widget>
        <div class="po-row">

            <po-lookup class= 'po-p-2'
                name="lookup"
                p-label="Item"
                p-field-label="product"
                p-field-value="product"
                [p-filter-service]="prodService"
                [p-columns]="columnsProduto"
                [(ngModel)]="regNat['it-codigo']"
                p-infinite-scroll="true"
                p-hide-columns-manager="true"
                [p-required]='true'
                
            ></po-lookup>

            <po-lookup class= 'po-p-2'
                name="lookup"
                p-label="Natureza de Operação"
                p-field-label="cfopCode"
                p-field-value="cfopCode"
                [p-columns]="columnsNatOperacao"
                [p-filter-service]="natOperacaoService"
                [(ngModel)]="regNat['nat-operacao']"
                p-infinite-scroll="true"
                p-hide-columns-manager="true"
                [p-required]='true'
                
            ></po-lookup>
 
            <po-switch class= 'po-p-2' 
                p-label="Zera Impostos"
                p-label-on="Sim"
                p-label-off="Nao"
                [(ngModel)]="regNat['zera-aliq']"
            ></po-switch>

        </div>
    </po-widget>

</po-page-edit>

